<head>
<title> View Documents </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fileStyle.css') }}">
</head>
<body>
  <div id = "top">
    <h1> <a href="/"> Python Uploader </a> </h1>
    <h3> <a href="/images"> Images</a> | <a href="/documents"> Documents </a> | <a href="/upload"> Upload a file </a> </h3>
  </div>
  <div id="main">
   {% for row in rows %}
      <a href="{{ url_for('static', filename='documents/'+ row["FileName"]) }}">
      <div id="rows">
        <p><div id="rowName"> {{row["name"]}} [ {{ row["FileName"] }} ] </div>
      </div>
      </a>
   {% endfor %}
  </div>
</body>
