<head>
<title> View Documents </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fileStyle.css') }}">
</head>
<body>
  <div id = "top">
    <h1> <a href="/"> The Pibrary </a> </h1>
    <h3> <a href="/images"> Images</a> | <a href="/documents"> Documents </a> | <a href="/upload"> Upload a file </a> </h3>
  </div>
  <div id="main">
    <div id=options>
      <form action="" method=post enctype=multipart/form-data>
        Order by: &nbsp
        <select name="order">
          <option value = "desc" {% if order == "desc" %} selected {%endif%}>Newest</option>
          <option value = "asc" {% if order == "asc" %} selected {%endif%}>Oldest</option>
          {% for thingy in cats %}
            <option value = {{thingy}} {% if order == thingy %} selected {%endif%}> {{thingy}} </option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
    </div>
   {% for row in rows %}
      <a href="{{ url_for('static', filename='documents/'+ row["FileName"]) }}">
      <div id="rows">
        <p><div id="rowName"> {{row["name"]}} [ {{ row["FileName"] }} ] [{{row["cat"]}}] </div>
      </div>
      </a>
   {% endfor %}
  </div>
</body>
