<head>
  <title>HELP</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='helpStyle.css') }}">
</head>
<body>
  <div id = "top">
    <h1> <a href="/"> The Pibrary </a> </h1>
    <h3> <a href="/images"> Images</a> | <a href="/documents"> Documents </a> | <a href="/upload"> Upload a file </a> </h3>
  </div>

  <div id="main">
    <h1>Welcome to Python Uploader's Help Page!</h1>
    <h2>Want to request a feature? The PiBrary is constantly being updated. See below for how you can update your software</h2>
  </div>
  <div id="help">
    <h3>HOW TO UPDATE YOUR PIBRARY</h3>
    <ol>
      <li><h4>Set up SSH or simply connect the Rasberry Pi to a monitor</h4></li>
      <li><h4>Navigate to the directory containing the code for the Pibrary</h4></li>
      <li><h4>Open up a command prompt and point it to this directory using the "cd" command</h4></li>
      <li><h4>Run the update.bat script by simply typing "update.bat" into the command prompt</h4></li>
    </ol>
  </div>
</body>
