<head>
<title> View Images </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fileStyle.css') }}">
</head>
<body>
  <div id = "top">
    <h1> <a href="/"> Python Uploader </a> </h1>
    <h3> <a href="/images"> Images</a> | <a href="/documents"> Documents </a> | <a href="/upload"> Upload a file </a> </h3>
  </div>
  <div id="main">
    <div id=options>
      <form action="" method=post enctype=multipart/form-data>
        Order by: &nbsp
        <select name="order">
          <option value = "desc" {% if order == "desc" %} selected {%endif%}>Newest</option>
          <option value = "asc" {% if order == "asc" %} selected {%endif%}>Oldest</option>
        </select>
        <input type="submit">
      </form>
    </div>
   {% for row in rows %}
      <a href="{{ url_for('static', filename='images/'+ row["FileName"]) }}">
      <div id="rows">
        <div id=image>
          <img src="{{ url_for('static', filename='images/'+ row["FileName"]) }}"></img>
        </div>
         <p><div id="rowName"> {{row["name"]}}  [ {{ row["FileName"] }} ] </div>
      </div>
      </a>
   {% endfor %}
  </div>
</body>
