<head>
<title> View Images </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fileStyle.css') }}">
</head>
<body>
  <div id = "top">
    <h1> <a href="/"> Python Uploader </a> </h1>
    <h3> <a href="/images"> Images</a> | <a href="/documents"> Documents </a> | <a href="/upload"> Upload a file </a> </h3>
  </div>
  <div id="main">
   {% for row in rows %}
      <a href="{{ url_for('static', filename='images/'+ row["FileName"]) }}">
        <div id=image>
          <img src="{{ url_for('static', filename='images/'+ row["FileName"]) }}" height=87.5px></img>
        </div>
      <div id="rows">
         <span id="rowName"> {{row["name"]}} </span>
         <br>
         [ <span id="fileName"> {{ row["FileName"] }} </span> ]
      </div>
      </a>
   {% endfor %}
  </div>
</body>
